<!-- <div>
    <app-widget-area [data]="bigChart"></app-widget-area>
</div> -->

<!-- <br>

<mat-divider></mat-divider> -->

<!-- <br> -->

<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="12k" percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users retention" total="10k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card>
    </mat-card>
</div> -->

<br>
<mat-divider></mat-divider>
<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Tweet" (keyup)=applyFilter($event)>
</mat-form-field>


<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>

                <ng-container matColumnDef="tweet">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tweet </th>
                    <td mat-cell *matCellDef="let element"> {{element.tweet}} </td>
                </ng-container>

                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
                    <td mat-cell *matCellDef="let element"> {{element.user}} </td>
                </ng-container>

                <ng-container matColumnDef="hashTags">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hash Tags </th>
                    <td mat-cell *matCellDef="let element"> {{'#' + element.hashTags}} </td>
                </ng-container>

                <ng-container matColumnDef="matchedKeywords">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Matched Keywords </th>
                    <td mat-cell *matCellDef="let element"> {{element.matchedKeywords}} </td>
                </ng-container>

                <ng-container matColumnDef="reusedImages">
                    <th mat-header-cell *matHeaderCellDef> Reused Images </th>
                    <td mat-cell *matCellDef="let element">{{element.reusedImages}}</td>
                </ng-container>

                <ng-container matColumnDef="manipulationType">
                    <th mat-header-cell *matHeaderCellDef> Manipulated type </th>
                    <td mat-cell *matCellDef="let element"> {{element.manipulationType}} </td>
                </ng-container>

                <ng-container matColumnDef="botAnalysis">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bot Analysis </th>
                    <td mat-cell *matCellDef="let element"> {{element.botAnalysis + '%'}} </td>
                </ng-container>

                <ng-container matColumnDef="fakeAnalysis">
                    <th mat-header-cell *matHeaderCellDef> Fake Analysis </th>
                    <td mat-cell *matCellDef="let element"> {{element.fakeAnalysis + '%'}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef> Details </th>
                    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onGetReport(element)">Get Report</button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10 ,15, 20]"></mat-paginator>
        </div>

    </div>

</div>

<br>
<br>
<br>
